[submodule "dependencies/Clara"]
	path = dependencies/Clara
	url = https://github.com/catchorg/Clara.git
[submodule "dependencies/mio"]
	path = dependencies/mio
	url = https://github.com/mandreyel/mio.git
[submodule "dependencies/cryptopp-cmake"]
	path = dependencies/cryptopp-cmake
	url = git@github.com:noloader/cryptopp-cmake.git
[submodule "dependencies/DownloadProject"]
	path = dependencies/DownloadProject
	url = git@github.com:Crascit/DownloadProject.git
